body{
    background-color: #E8F6FA;
}
table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}

td, th {
    text-align: center;
    padding: 10px;
}
#upperWrapper{
    background-color: #E8F6FA;
}
#chart_div {
    width: 900px;
    margin-left:-100px;
    margin-right:-40px;
    height: 500px;
    float: left;
    background-color: #E8F6FA;
}
#description {
    width: 250px;
    border: 1px dashed black;
    background-color: #f0eee9;
    height:500px;
    float: left;
    position: relative
}
#lowerWrapper{
    clear:both;
    padding-left:50px;
    background-color: #E8F6FA;
}
#typeData, #buttons, #dateAndHours, #stationPick{
    padding:10px;
    float:left;
    margin-left:20px;
}
#typeData, #dateAndHours, #stationPick{
    border: 1px solid black;
    background-color: #f0eee9;
}
#main{
    margin-left:200px;
    background-color: #E8F6FA;
}